.navtitle {
    @apply mx-auto sm:mx-12 my-4 text-unselected text-lg sm:hover:text-green;
}

.selected {
    @apply dark:text-dark text-light;
}

#Home {
    height: 85%;
}

@media only screen and (min-width: 1280px) { 
    #Home {
        height: 90%;
    }
}

#typewriter:after{
    content: "█";
    animation: blink 1500ms steps(1, end) infinite;
}

@keyframes blink{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
