@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1::before {
		content: '> ';
	}

	h1 {
		@apply text-green font-mono text-2xl sm:text-4xl font-bold my-12 sm:text-center;
	}

	h2 {
		@apply text-green font-mono text-xl sm:text-2xl font-bold mt-10 mb-4;
	}

	h3 {
		@apply text-green font-mono text-lg sm:text-xl font-bold mt-8 mb-2;
	}

	p {
		@apply font-sans leading-8 sm:leading-10 text-xl sm:text-2xl font-medium tracking-wide;
	}

	/* Most of this is done for formatting the org-mode parsing results for the blog */

	#org > p {
		@apply font-sans text-sm sm:text-lg font-medium sm:mx-4 mb-4;
	}

	span.todo {
		@apply text-red pr-4;
	}

	blockquote > p {
		@apply border-l-4 pl-4 font-sans text-sm sm:text-lg font-medium text-unselected sm:mx-4 mb-4;
	}

	ul {
		@apply m-6;
	}

	li {
		@apply sm:text-lg mt-2;
	}

	a {
		@apply hover:text-green active:scale-90;
		transition: all 0.15s;
	}

	.section-number {
		@apply font-mono pr-2 text-sm sm:text-lg text-unselected font-medium;
	}

	.section-number::before {
		content: '[';
	}

	.section-number::after {
		content: ']';
	}

	.copy_button_container {
		position: relative;
	}

	.copy_button_container:hover .copy_button {
		opacity: 1;
	}

	@media (hover: hover) {
		.copy_button {
			opacity: 0.3;
		}
	}

	.copy_button {
		@apply z-50 rounded-lg m-4 sm:mx-8 w-9 h-9 bg-background object-center shadow-md border-0;
		transition: all 0.15s;
		right: 0;
		top: 0;
		position: absolute;
	}

	.copy_button > img {
		@apply w-3/5 mx-auto filter invert;
	}

	.copy_button:hover {
		transform: scale(1.1);
	}

	.copy_button:active {
		transform: scale(0.98);
	}

	/* Override KaTeX rendering settings -> defaults to black */

	span.mord {
		@apply dark:text-dark text-light;
	}

	/* Override the highlight.js rendering settings */

	pre {
		@apply h-auto sm:mx-4 my-3 p-4 sm:p-6 dark:bg-graycode-dark bg-graycode-light rounded-lg text-sm sm:text-base border-0;
		overflow-x: auto;
	}

	code.hljs {
		/* Fixes apparant newline at the end of code-block */
		display: contents;
	}
}
